# TSDProxy
TSDPROXY_AUTHKEY=
# the following should likely be parent tailscale internal IP address (for centcom)
TSDPROXY_HOSTNAME=
TSIDP_TS_AUTHKEY=
FRESHRSS_OIDC_PROVIDER_METADATA_URL=https://idp.yourtailnet.ts.net/.well-known/openid-configuration
FRESHRSS_OIDC_CLIENT_ID=
FRESHRSS_OIDC_CLIENT_SECRET=
FRESHRSS_OIDC_REMOTE_USER_CLAIM=
FRESHRSS_OIDC_CLIENT_CRYPTO_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
