---

services:

  tsdproxy:
    image: almeidapaulopt/tsdproxy:latest
    container_name: tsdproxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - tsdproxydata:/data
    environment:
      - TSDPROXY_AUTHKEY=${TSDPROXY_AUTHKEY}
      - TSDPROXY_HOSTNAME=${TSDPROXY_HOSTNAME}
      - DOCKER_HOST=unix:///var/run/docker.sock
    restart: unless-stopped

  rss:
    image: freshrss/freshrss:latest
    container_name: rss
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "rss"
    environment:
      TZ: America/Chicago
      CRON_MIN: '*/5'
    ports:
      - 8080:80
    volumes:
      - ./data:/var/www/FreshRSS/data
      - ./extensions:/var/www/FreshRSS/extensions
    networks:
      - caddy_net
    restart: unless-stopped

  caddy:
    image: caddy
    container_name: caddy
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "caddy"
    hostname: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "8443:443"
      - "8443:443/udp"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./www:/www
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - caddy_net

  golink:
    image: ghcr.io/tailscale/golink:main
    container_name: golink
    labels:
      tsdproxy.enable: "true"
      tsdproxy.name: "go"
    restart: unless-stopped
    user: root
    environment:
      - TS_AUTHKEY=${TSDPROXY_AUTHKEY}
    volumes:
      - /opt/golink/data:/home/nonroot

volumes:
  tsdproxydata:
  caddy_data:
  caddy_config:

networks:
  caddy_net:
    external: true
