:80 {
  respond "Hello, world from the main Caddyfile"
}

rss.vpn.rsefer.com {
  tls rsefer@gmail.com
  reverse_proxy rss.spaniel-dragon.ts.net:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

ha.vpn.rsefer.com {
  tls rsefer@gmail.com
  reverse_proxy home-assistant.spaniel-dragon.ts.net:433 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

unifi.vpn.rsefer.com {
  tls rsefer@gmail.com
  reverse_proxy unifi.spaniel-dragon.ts.net:8443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
