# Example for spoofed DNS entries
# Use the internal CA to issue a certificate
#
# sub.domain.com {
#   tls internal
#   reverse_proxy https://subdomain.spaniel-dragon.ts.net:443 {
#     transport http {
#       tls_insecure_skip_verify
#     }
#   }
# }

:80 {
  respond "Hello, world from the main Caddyfile"
}

admin.vpn.rsefer.com {
	tls internal
	root * /www/admin
	file_server
}

rss.vpn.rsefer.com {
	tls internal
  reverse_proxy https://rss.spaniel-dragon.ts.net:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

ha.vpn.rsefer.com {
  tls internal
  reverse_proxy https://home-assistant.spaniel-dragon.ts.net:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}

go.vpn.rsefer.com {
  tls internal
  reverse_proxy https://go.spaniel-dragon.ts.net:443 {
    transport http {
      tls_insecure_skip_verify
    }
  }
}
